html {
	height: 100%;
}

body {
	background-color: #1e1e1e;
	color: lightgrey;
	font-family: consolas;
	height: 100%;
	--input-background: #121212;
	--background-dark-1: #181818;
	--background-dark-2: #212121;
	--backgrounf-dark-3: 383838;
	--background-light-1: #717171;

	--main-color: red;
}

.center-main-content {
	display: flex;
	justify-content: center;
	height: 100%;
	margin: auto;
}

.main-content-container {
	padding: 20px;
	max-width: 1200px;
	width: 100%;
	height: 100%;
}

.main-content {
	background-color: #2e2e2e;
	padding: 10px;
	border-radius: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.connect-input {
	background-color: #2e2e2e;
	border: 2px solid #1e1e1e;
	border-radius: 15px;
	color: lightgrey;
	padding: 0px 10px;
	transition-duration: 300ms;
	max-width: 150px;
}

.port-input {
	width: 100px;
}

input[type="button"] {
	background-color: #2e2e2e;
	/* border: solid 2px purple; */
	border: solid 2px #3e3e3e;
	border-radius: 20px;
	color: whitesmoke;
	transition-duration: 100ms;
	width: 130px;
	margin-right: 5px;
}

input[type="button"]:hover {
	/* background-color: purple; */
	background-color: #3e3e3e;
	border-color: purple;
	color: whitesmoke;
}

input[type="button"]:active {
	background-color: purple;
}

.connect-disconnect-container {
	margin-left: auto;
}

.connect-input:focus {
}

.input-container {
	display: flex;
}

.text-area {
	background-color: #1e1e1e;
	margin: 5px;
	border-radius: 10px;
	padding: 10px;
	overflow-y: auto;
	height: 100%;
	word-wrap: break-word;
}

.input {
	margin: 0px 5px;
}
.message-area {
	display: flex;
	padding: 0px 5px;
	margin-top: 2px;
}
.arrow-center-horizontal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 1000;
}

input[type="text"]:focus {
	border-color: purple;
	background-color: #1e1e1e;
	outline: none;
}

#msg-inp {
	width: 100%;
	/* background-color: #3e3e3e; */
	background-color: #2e2e2e;
	/* border: 2px dashed purple; */
	border-radius: 50px;
	border: none;
	outline: none;
	color: lightgrey;
	padding: 0px 10px;
	transition-duration: 200ms;
	margin-left: 10px;
}
/* #msg-inp::hover {
	background-color: #1e1e1e;
	content: "gay";
	width: 100%;
	height: 1px;
	background-color: purple;
}*/

.input-area {
	display: flex;
	flex-direction: column;
}

.nick-area {
	text-align: right;
	margin-left: auto;
	margin-right: 10px;
	font-weight: bolder;
	font-size: 1.1rem;
}

.msg-nick {
	font-weight: bold;
}
